#html {
    margin-left: 85px;
}

/** Perfil **/
.navbar-brand {
    font-size: 22px;
    font-family: consolas;
}

#barra_navegacao {
    width: 1153px;
    margin-left: 85px;
}

.img_perfil {
    border-radius: 100px;
}

#texto_perfil {
    padding-left: 5px;
    font-family: consolas;
    font-size: 22px;
}

.conjunto_foto {
    margin-left: 500px;
    margin-top: 220px;
    position: absolute;
}

/** Experiências Profissionais **/
.cardbody_exp {
    font-family: consolas;
    height: 200px;
    width: 280px;
    padding: 1rem;
}

#card1_exp {
    margin-left: 80px;
    margin-top: 60px;
    position: absolute;
    font-family: consolas;
}

#card2_exp {
    margin-left: 440px;
    margin-top: 60px;
    position: absolute;
    font-family: consolas;
}

#card3_exp {
    margin-left: 795px;
    margin-top: 60px;
    position: absolute;
    font-family: consolas;
}

#card4_exp {
    margin-left: 270px;
    margin-top: 350px;
    position: absolute;
    font-family: consolas;
}

#card5_exp {
    margin-left: 630px;
    margin-top: 350px;
    position: absolute;
    font-family: consolas;
}

#texto_exp {
    position: absolute;
    margin-left: 400px;
    font-size: 24px;
    font-family: consolas;
}

/** Formação Acadêmica **/
#card1_formacao {
    padding-top: 5rem;
    padding-left: 5rem;
    width: 1077px;
}

.conjunto_formacao {
    margin-top: -650px;
}

#texto_formacao {
    position: absolute;
    margin-left: 457px;
    font-size: 24px;
    font-family: consolas;
}

#card-text_formacao {
    font-family: consolas;
    text-align: center;
    padding-left: 4rem;
    padding-bottom: 1rem;
}

.cardbody_formacao {
    text-align: center;
    width: 925px;
    font-family: consolas;
}

/** Qualificações Profissionais **/
.background_qualificacoes {
    margin-top: 0px;
    position: relative;
}

#texto_qualificacoes {
    position: absolute;
    margin-left: -755px;
    font-size: 24px;
    font-family: consolas;
}

#card1_qualificacoes {
    margin-top: -630px;
    margin-left: 80px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

#card2_qualificacoes {
    margin-top: 50px;
    margin-left: 80px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

#card3_qualificacoes {
    margin-top: 50px;
    margin-left: 80px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

#card4_qualificacoes {
    margin-top: 50px;
    margin-left: 80px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

#card5_qualificacoes {
    margin-top: -550px;
    margin-left: 627px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

#card6_qualificacoes {
    margin-top: 48px;
    margin-left: 627px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

#card7_qualificacoes {
    margin-top: 50px;
    margin-left: 627px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

#card8_qualificacoes {
    margin-top: 50px;
    margin-left: 627px;
    width: 450px;
    height: 100px;
    font-family: consolas;
    color: #ffffff;
    font-size: 20px;
}

/** Contato **/
.background_contato {
    margin-top: 40px;
}

#texto_contato {
    margin-top: 80px;
    position: absolute;
    margin-left: -620px;
    font-size: 24px;
    font-family: consolas;
}

#card1_contato  {
    margin-top: -585px;
    margin-left: 77px;
    width: 1000px;
    height: 350px;
    font-family: consolas;
    color: #ffffff;
    font-size: 18px;
    padding: 4.5rem;
    padding-top: 3rem;
}

#cardbody_contato {
    width: 1000px;
}

#texto2_contato {
    margin-top: 40px;
    position: absolute;
    margin-left: 520px;
    font-size: 24px;
    font-family: consolas;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,body{
    margin:0;
    height:100%;
    font-family: 'Montserrat', sans-serif;
}

.redes-sociais {
    margin-top: 20px;
    margin-left: 430px;
}
.container{
    padding-top:30px;
    min-height:100%;
    text-align:center;
    background: linear-gradient(0deg, rgba(34,195,104,1) 0%, rgba(45,77,253,1) 100%);
}

.headline{
    text-align:center;
 
}
.headline  h1{
    font-size:35px;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
}

.social-buttons{
    display:inline-block;
    background: rgba(256,256,256,0.5);
    padding:20px;
    padding-bottom: 5px;
    border-radius:10px;
    text-align:center;
    margin:20px 10px;
    box-shadow: 0px 0px 32px -7px #00199f;
}
  
/* Divide icones */
.social-margin {
    margin-right: 15px;
}

    a,
    a:hover,
    a:focus,
    a:active {
    text-decoration: none;
}

.social-icon {
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
}

.social-icon:hover {
    transform: rotate(360deg)scale(1.3);
}

.facebook {
    font-size: 22px;
    padding-top: 9px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: #ffffff;
}

.facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
  }

.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;  
}
  
.twitter:hover {
    background-color: #ffffff;
    color: #55acee;
}

.linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
}

.linkedin :hover {
    background-color: #ffffff;
    color: #0976b4;
}

.github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #4183c4;
    color: #ffffff;
    border-color: #4183c4;  
}

.github:hover {
    background-color: #ffffff;
    color: #4183c4;
}
